<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fragment Expression</title>
</head>
<body>

<h1>Fragment Expression Demo</h1>
<div th:replace="~{common/header :: header}"></div>
<div>
  <h1>Page Body</h1>
</div>
<div th:replace="~{common/footer :: footer}"></div>

</body>
</html>