<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Link Expressions</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h1>Link Expression Demo: </h1>
<a th:href="@{/variable-expression}">variable-expression</a>
<a th:href="@{/selection-expression}">selection-expression</a>
<p><a th:href="@{link-expression/{id}(id=${id})}">link with parameter</a></p>

</body>
</html>